:root {
	/* App Colors */
	--color-primary: var(#2d4059);
	--color-accent: var(#ffd460);
	--color-accent-variant: var(#f07b3f);
	--color-text: var(--color-primary);

	/* Colors */
	--color-white: #fff;
	--color-black: #050a13;
	--color-pink: #ea5455;
	--color-gray: #d9d9d9;
	--color-dark-gray: #8f8d8d;
	--color-gray-text: #989898;
	--color-yellow: #ffd460;

	/* Size */
	--size-max-width: 1200px;
}

#login {width:600px; margin:0 auto;}
#login h1 {text-align:center;}
#login h1{margin-top:50px;}
#login h1{margin:20px 0;}
#login h1 img {width:100px;}

#login #login_frm fieldset ul li{
  border:1px solid #aaa; width:100%;
  padding:15px 10px;
  border-radius:5px; margin-bottom:10px;
}



#login #login_frm fieldset .bottom #membership_btn{
  background:green; color:#fff;
  padding:10px 20px; border-radius:5px;
}

#membership_btn:hover {
  background-color: var(--color-yellow);
	border: 1px solid var(--color-yellow);
}

#login #login_frm fieldset .bottom #next_btn{
  background:green; color:#fff;
  padding:10px 20px; border-radius:5px;
}

#next_btn:hover {
  background-color: var(--color-yellow);
	border: 1px solid var(--color-yellow);
}

.bottom {
  text-align: center; /* 중앙 정렬을 위해 text-align 사용 */
}

.navyBtn {
  display: inline-block; /* 인라인 블록 요소로 배치 */
  margin-right: 10px; /* 각 버튼 사이에 간격을 조절하려면 마진을 사용 */
}
