/* 로그인.css */

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#login {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#login h1 {
    font-size: 24px;
    color: #333;
}

#login img {
    max-width: 100%;
    height: auto;
}

form {
    margin-top: 20px;
}

fieldset {
    border: none;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 15px;
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.bottom {
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
}

.navyBtn {
    background-color: #001f3f;
    color: #fff;
    margin-right: 10px;
}

#membership_btn {
    background-color: #337ab7;
}

body {
    font-family: 'Arial', sans-serif;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* 추가적으로 원하는 스타일을 적용하세요 */
