/* Global */
:root {
	/* App Colors */
	--color-primary: var(#2d4059);
	--color-accent: var(#ffd460);
	--color-accent-variant: var(#f07b3f);
	--color-text: var(--color-primary);

	/* Colors */
	--color-white: #fff;
	--color-black: #050a13;
	--color-pink: #ea5455;
	--color-gray: #d9d9d9;
	--color-dark-gray: #8f8d8d;
	--color-gray-text: #989898;
	--color-yellow: #ffd460;

	/* Size */
	--size-max-width: 1200px;

}



* {
	box-sizing: border-box;
	font-family: 'Noto Sans KR', 'Gothic A1', 'Inter', sans-serif;
	margin: 0;
	padding: 0;
}

ul {
	list-style: none;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
	color: var(--color-primary);
}

button {
	font-size: 1rem;
	font-weight: bold;
	border-radius: 0.3rem;
	padding-inline: 1rem;
	text-align: center;
	outline: 0;
	cursor: pointer;
}

/* button:focus {
	outline: 2px solid var(--color-accent);
} */

.max-container {
	max-width: var(--size-max-width);
	margin: auto;
}

.description {
	font-size: 1.5rem;
	margin: 0.5rem 0;
}

/* Header */
.header {
	background-color: var(--color-white);
	position: fixed;
	top: 0;
	width: 100%;
	padding: 1rem;
	z-index: 1;
}

.header__nav {
	margin: auto;
	max-width: 1180px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 85px;
	padding: 0 10px;
}

.header__logo {
	display: flex;
	align-items: center;
	gap: 8px;
	cursor: pointer;
}

.header__logo__img {
	width: 100%;
	height: 100%;
	border: 1px solid var(--color-primary);
}

.header__logo__title {
	font-size: 1.5rem;
	color: var(--color-primary);
}

.header__menu {
	display: flex;
	gap: 16px;
}

.header__menu__item {
	padding: 8px 16px;
}

#header__menu__new__btn {
	background-color: var(--color-gray);
	border: 1px solid var(--color-gray);
	font-size: 1.2rem;
	color: var(--color-black);
}

#header__menu__new__btn:hover {
	background-color: var(--color-yellow);
	border: 1px solid var(--color-yellow);
}

.header__menu_item.active {
	border: 2px solid var(--color-black);
	border-radius: 4px;
}

.up_wrapper img {
	width: 40px;
	height: 40px;
	align-items: center;
}

.pro_img{
	width: 40px;
	height: 40px;
	align-items: center;
}


/* Main */
.main {
	width: 110%;
	max-width: 1180px;
	padding: 0px 100px;
	margin: 160px auto 60px;
    display: grid;
    place-items: center;
	text-align: left;
}
.main h1{
    font-size: 30px;
    font-weight: 400;
}
.up_wrapper img{
	width: 300px;
	height: 300px;
}
.nickname h1{
    font-size: 15px;
}

.belong h1{
    font-size: 15px;
}

.introduction h1{
    font-size: 15px;
}

input{
    border:1px solid black;
    border-radius: 3px;
    width:500px;
    line-height:35px;
    font-size:12px;
    padding-left: 10px;
    padding-right: 10px;
    margin : 10px;
}
#introduction{
    width: 500px;
    height: 300px;
}
.profileSubmit{
	display: inline-block;
	background-color: var(--color-yellow);
	padding: 0.75rem 1.5rem;
	border-radius: 0.25rem;
	color: var(--dark-color);
	font-weight: 600;
	margin-top: 10px;
}


/* department drop menu */
.department__menu {
	width: 10.2rem;
	margin: 15px 15px;
}

.department__menu .department__btn {
	display: flex;
	justify-content: space-between;
	cursor: pointer;
	height: 35px;
	background: #fff;
	padding: 8px;
	font-size: 1rem;
	font-weight: 400;
	border: 3px solid var(--color-gray);
	border-radius: 8px;
	align-items: center;
}

.department__btn i {
	font-size: 1rem;
	transition: 0.3s;
}

.department__menu.active .department__btn i {
	transform: rotate(-180deg);
}

.department__menu .department__options {
	position: relative;
	padding: 4px;
	margin-top: 10px;
	border-radius: 8px;
	background: #fff;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
	display: none;

	max-height: 200px;
	overflow-y: scroll;
}

.department__menu .department__options.click {
	display: block;
}

.department__menu.active .department__options {
	display: block;
}

.department__menu.active .department__options.click {
	display: none;
}

.department__options .department__option {
	display: flex;
	height: 55px;
	cursor: pointer;
	padding: 0 16px;
	border-radius: 8px;
	align-items: center;
	background: #fff;
}

.department__option i {
	font-size: 1rem;
	margin-right: 5px;
}

.department__option .department__option__text {
	font-size: 0.8rem;
	font-weight: 400;
	color: #333;
}

